* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: min(400px, 90vw);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.container h2 {
  font-size: 1.2rem;
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.btn {
  height: 80px;
  aspect-ratio: 1;
  padding: 0.5rem;
  font-size: 2.5rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn.selected {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.btn p {
  padding-top: 0.2rem;
  font-size: 0.8rem;
}

.send-review-btn {
  width: max-content;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  background-color: #434343;
  color: white;
  align-self: center;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem 1rem;
  }
}