:root {
    --logo-color: #61dafb;
    --bg-color: #222222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
    overflow: hidden;
}

.container {
    --size: 500;
    width: calc(var(--size)*1px);
    height: calc(var(--size)*1px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateLogo 10s linear infinite;
    -webkit-animation: rotateLogo 10s linear infinite;
    -o-animation: rotateLogo 10s linear infinite;
    -moz-animation: rotateLogo 10s linear infinite;
    -ms-animation: rotateLogo 10s linear infinite;
}


.react_logo {
    --border-width: 15px;
    width: 100%;
    height: 40%;
    border: var(--border-width) solid var(--logo-color);
    border-radius: 50%;
    transform: rotate(180deg);
    position: relative;
}

.react_logo::before {
    content: '';
    position: absolute;
    top: calc(-1*var(--border-width));
    left: calc(-1*var(--border-width));
    width: 100%;
    height: 100%;
    border: var(--border-width) solid var(--logo-color);
    border-radius: 50%;
    transform: rotate(120deg);
}

.react_logo::after {
    content: '';
    position: absolute;
    top: calc(-1*var(--border-width));
    left: calc(-1*var(--border-width));
    width: 100%;
    height: 100%;
    border: var(--border-width) solid var(--logo-color);
    border-radius: 50%;
    transform: rotate(240deg);
}

.circle {
    width: 18%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--logo-color);
}

@-webkit-keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-ms-keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .container {
        --size: 300;
    }
}