* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf6a87;
}

.loader {
    width: 80px;
    height: 80px;
}

.circle {
    height: 100%;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    -o-animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
    -moz-animation: animate 2s linear infinite;
    border: 8px solid white;
    border-top: 8px solid #303952;
}

@-webkit-keyframes animate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@-o-keyframes animate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@-moz-keyframes animate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@-ms-keyframes animate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}