* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 3rem;
  color: #e31506;
  margin: 20px;
}

.slide-container {
  height: 60vh;
  aspect-ratio: 10 / 8;
  border-radius: 15px;
  position: relative;
  display: flex;
  transition-property: background-image;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  background-image: url("images/image1.jpeg");
  background-size: cover;
}

.btns {
  width: 120%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  margin-left: -10%;
}

.icon {
  width: 50px;
  aspect-ratio: 9 / 16;
  color: white;
}

#image-number {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 2em;
  color: white;
  font-weight: bold;
}
