
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-box {
    width: 100vw;
    height: 100vh;
    background-color: #577BFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    width:400px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 20px;
    color: #577BFF;
}

select,input {
    width: 80%;
    height: 10%;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-weight: 500;
}
label {
    margin-top: 10%;
    text-align: start;
}

#result {
    margin: 10px;
    width: 80%;
    height: 30%;
    font-weight: 600;
}
#result-box {
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow: unset;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
